*{box-sizing:border-box;}
.card{
    margin: 15px;
}
main{
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h h h"
    "n n n"
    "as as as"
    "a a a"
    "f f f";
   
}
body{
    background-image: url(style/hatter.jpeg);
    width:100%;
    height:100%; 
    height:100vh;
  
  box-sizing:border-box;
    background-size:cover;
    background-repeat:repeat-y;
    background-position:center center;
	
  background-attachment: fixed;
}
nav{
    grid-area: n;
}
header{
    grid-area: h;
    height: 150px;
    color: rgb(60, 69, 51);
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    background-size:cover;
   
}
article{
    grid-area: a;
}
aside{
    grid-area: as;
}

footer{
    grid-area: f;
    text-align: center;
}
/*Publikus*/
.kozep{
    width: 90%;
    margin: auto;
}
/*ADMIN*/
*{
    padding: 5px;
}

.kepek{
    width: 100px;
}

fieldset{
   display: inline; 
}

@media screen and (max-width:700px){
    fieldset{
        display: grid;
        grid-template-columns: 1fr;
    }
}